
.calculator{
  /* padding: 10px 10px 10px 10px; */
  /* background-color: red; */
  margin: 10px 10px ;
  border: 1px solid rgb(81, 73, 73);
  width: 200px;
  border-radius: 5px;
  padding: 5px;
}


.button{
  width:45px;
  height: 45px;
  margin: 3px;

}